@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --accent-color: #009c4c;
  --accent-color-dark: #009c4c;
  --accent-color-light: #009c4c;
  --accent-color-xlight: rgba(100, 255, 175, 0.508);
  --text-color: #242424;
  --background-color: #ffffff;
}
body {
  color: var(--text-color);
  background: var(--backgound-color);
  line-height: 1;
  margin: 5px 0;
  font-size: 0.7em;
  font-family: sans-serif;
}
#resume {
  margin: 0 auto;
  max-width: 900px;
  padding: 20px 30px;
  background: var(--background-color);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
h1 {
  color: var(--accent-color);
  text-align: center;
  font-weight: 600;
  font-size: 220%;
  margin: 0;
  padding-bottom: 8px;
  font-family: Arial, Helvetica, sans-serif;
}
h2 {
  color: var(--accent-color);
  border-bottom: 0.3px solid var(--accent-color-light);
  font-size: 100%;
  font-weight: 800;
  margin: 15px 0 0 0;
  padding-bottom: 1;
  padding-top: 1;
  font-family: "Roboto Mono", monospace;
}
h3 {
  color: var(--text-color);
  font-size: 100%;
  font-weight: 600;
  margin: 0.6em 0 0 0;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
  font-family: "Roboto Mono", monospace;
}
p {
  margin: 8 0 8 0;
  padding: 0;
}
ul {
  padding: 5px;
  margin: 0 0;
}
li {
  padding-top: 4px;
}

li::before {
  content: "○ ";
  color: var(--accent-color);
  font-size: 1em;
}

h1 + ul > li::before {
  content: "";
}
/* ul immediately after h1 = contact list */
h1 + ul {
  text-align: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h1 + ul > li {
  display: inline;
  white-space: pre;
  font-size: 0.9em;
}
h1 + ul > li:after {
  content: "  •  ";
  color: var(--accent-color-dark);
}
h1 + ul > li:last-child:after {
  content: "";
}
/* p immediately after contact list = summary */
h1 + ul + p {
  margin: 1.5em 0;
}

ol {
  margin: 0;
  padding-left: 25px;
  padding-top: 15px;
}
ol > li {
  padding-top: 7px;
}

a,
a:link,
a:visited {
  color: var(--accent-color-dark);
  text-decoration: none;
  font-size: 1em;
  font-family: "Roboto Mono", monospace;
}

a:hover {
  color: var(--accent-color);
  text-decoration: underline;
  font-family: "Roboto Mono", monospace;
}

.link {
  display: inline;
  padding-left: 5px;
  padding-bottom: 5px;
  font-size: 0.8em;
  font-weight: 600;
  font-family: "Roboto Mono", monospace;
}
.technologies {
  font-weight: 400;
  color: var(--accent-color);
  font-size: 10px;
  font-family: "Roboto Mono", monospace;
}
.marks {
  font-weight: 600;
  display: inline;
  font-family: "Roboto Mono", monospace;
}
.project-heading {
  font-size: 14px;
  font-family: "Roboto Mono", monospace;
}
.ed-heading {
  font-size: 1em;
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
}

.skill {
  position: relative;
  z-index: 1;
  margin-right: 7px;
  margin-bottom: 10px;
}

.skill::before {
  content: " ";
  z-index: -1;
  display: block;
  height: 90%;
  width: 100%;
  margin-left: -1px;
  margin-right: -3px;
  position: absolute;
  background: var(--accent-color-xlight);
  transform: rotate(2deg);
  top: -1px;
  left: -1px;
  border-radius: 20% 25% 20% 24%;
  padding: 2px 0px 0px 2px;
}

.title {
  font-size: 50%;
  color: black;
  font-weight: normal;
  z-index: 1;
  position: relative;
  font-family: monospace;
}

.title::before {
  content: " ";
  z-index: -1;
  display: block;
  height: 90%;
  width: 100%;
  margin-left: -1px;
  margin-right: -3px;
  position: absolute;
  background: var(--accent-color-xlight);
  transform: rotate(2deg);
  top: -1px;
  left: -1px;
  border-radius: 20% 25% 20% 24%;
  padding: 3px 3px 2px 6px;
}

@media print {
  body {
    font-size: 10pt;
    margin: 0;
    padding: 0;
    background: var(--background-color);
  }
  #resume {
    margin: 10px 5px 10px 5px;
    padding: 0;
    border: 0px;
    background: var(--background-color);
    box-shadow: none;
    -webkit-box-shadow: none;
  }
  /* Make links black in PDF */
  /* Move this outside the print block to apply this in HTML too */
  a,
  a:link,
  a:visited,
  a:hover {
    color: var(--accent-color-light);
    text-decoration: underline;
  }
}
@page {
  /* Change margins and paper size of PDF */
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/@page */
  size: A4;
  margin: 0.3in 0.3in;
}
@media screen and (max-width: 800px) {
  body {
    font-size: 12pt;
    margin: 0;
    padding: 0;
    background: var(--background-color);
  }
  #resume {
    margin: 0;
    padding: 1em;
    border: 0px;
    background: var(--background-color);
    box-shadow: none;
    -webkit-box-shadow: none;
  }
  .project-heading {
    font-size: 15px;
  }
}
